In [7]:
import pandas as pd

# Задание 1

In [76]:
movies_by_id = pd.read_csv('ml-latest/movies.csv', index_col='movieId')
ratings = pd.read_csv('ml-latest/ratings.csv')

In [78]:
movie_id = (ratings[['movieId', 'rating']]
                .query('rating == 5.0')
                .groupby('movieId')
                .count()
                .sort_values(by='rating', ascending=False).iloc[0].name)

print(f"Больше всего 5.0 получил фильм {movies_by_id['title'][movie_id]}")

Больше всего 5.0 получил фильм Shawshank Redemption, The (1994)

# Задание 2

In [109]:
power = pd.read_csv('power.csv')

countries = ['Estonia', 'Latvia', 'Lithuania']
categories = [4, 12, 21]

filtered_data = (power
     .query('year >= 2005 and year <= 2010')
     .query('quantity > 0.0')
     .query('country in @countries')
     .query('category in @categories'))

filtered_data[ ['category', 'quantity'] ].groupby('category').sum()

          quantity
category
4             46.0
12          6326.0
21        234208.0

# Задание 3

In [123]:
page_url = 'https://www.cbr.ru/currency_base/daily/'

df = pd.read_html(page_url, attrs = {'class': 'data'})[0]

df.head()

   Цифр. код Букв. код  Единиц                 Валюта    Курс
0         36       AUD       1   Австралийский доллар  569065
1        944       AZN       1  Азербайджанский манат  434819
2         51       AMD     100       Армянских драмов  141457
3        933       BYN       1      Белорусский рубль  285234
4        975       BGN       1         Болгарский лев  464218