# Классификация: Логистическая регрессия и SVM

In [21]:
import numpy as np
import pandas as pd

# from sklearn import datasets, linear_model, model_selection
# from sklearn.model_selection import train_test_split

In [45]:
# http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html
    
df = pd.read_csv('adult.csv', na_values=['?'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Бдуем строить на основе признаков age, educational-num, occupation, race, gender, hours-per-week, native-country. Убираем пустые значения

In [53]:
df = df[ pd.isnull( df['age'] ) == 0 ]
df = df[ pd.isnull( df['educational-num'] ) == 0 ]
df = df[ pd.isnull( df['occupation'] ) == 0 ]
df = df[ pd.isnull( df['gender'] ) == 0 ]
df = df[ pd.isnull( df['hours-per-week'] ) == 0 ]
df = df[ pd.isnull( df['native-country'] ) == 0 ]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

In [70]:
selectedColumns = df[ [ 'age', 'educational-num', 'occupation', 'gender', 'hours-per-week', 'native-country' ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'occupation', 'gender', 'native-country' ] )

X.head()

,age,educational-num,hours-per-week,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,40,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,38,9,50,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,40,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5,34,6,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [71]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit( df['income'] )

y = pd.Series( data = le.transform( df['income'] ) )

In [74]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [76]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=5000)
model.fit( x_train, y_train )

LogisticRegression(max_iter=5000)

In [77]:
model.score(x_test, y_test)

0.8043045625414609